<p-table
  [value]="appointments"
  [styleClass]="styleClass"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [rowsPerPageOptions]="[5, 10, 20]"
  selectionMode="single"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-appointment let-columns="columns">
    <tr (click)="onAppointmentSelect(appointment)">
      <td>
        <span class="p-column-title">Date</span
        >{{ appointment.appointmentDate | date : "longDate" }}
      </td>
      <td>
        <span class="p-column-title">Time</span
        >{{ appointment.appointmentDate | date : "shortTime" }}
      </td>
      <td>
        <span class="p-column-title">Description</span
        >{{ appointment.appointmentDescription }}
      </td>
    </tr>
  </ng-template>
</p-table>
