<p-card
  styleClass="user-form"
  class="flex justify-content-center align-items-center my-8"
>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
      <div class="field col">
        <label for="appointmentDescription">Description</label>
        <input
          id="appointmentDescription"
          type="text"
          formControlName="appointmentDescription"
          pInputText
          class="w-full"
        />
      </div>
      <div class="field col">
        <label for="appointmentDate">Scheduled On</label>
        <p-calendar
          id="appointmentDate"
          formControlName="appointmentDate"
          dateFormat="d.m.y"
          placeholder="Date"
          [showIcon]="true"
          [showTime]="true"
          hourFormat="12"
          breakpoint="md"
          numMonths="1"
          class="w-full"
        ></p-calendar>
      </div>
    </div>

    <div class="flex justify-content-center flex-wrap">
      <button
        class="mx-3"
        type="submit"
        [disabled]="!appointmentForm.valid"
        pButton
        pRipple
      >
        Create Appointment
      </button>
      <button class="mx-3" type="reset" pButton pRipple class="p-button-danger">
        Reset
      </button>
    </div>
  </form>
</p-card>
